<div class="user-nav col-md">
  <ul>
    <li id="acount_id">
      <%= link_to "アカウント", account_users_path %>
    </li>
    <li id="profile_id">
     <%= link_to "プロフィール", profile_users_path %>
    </li>
  </ul>
</div>


